body{
    background-color: slategray;
    margin: auto;
    width: 640px;
    padding: 50px;
    color: white;
    font-size: larger;
} 

h1{
    text-align: center;
}

p{
    text-align: center;
}

.imagenuno{
    display: block;
    margin-left: 165px;
}

.siacepto{
    display: absolute;
    margin-left: 150px;
    margin-right: auto;
}

.noacepto{
    display: absolute;
    margin-right: 150px;
    margin-left: auto;
}

h2{
    text-align: center;
}

.volveralinicio{
    display: flex;
    justify-content: center;
}

.familia{
    display: absolute;
    margin-left: 85px;
}

.siquiero{
    display: absolute;
    margin-left: 230px;
    margin-right: auto;
}

.tomardecision{
    display: absolute;
    margin-left: 200px;
}

.culpable{
    margin: 0 auto;
    text-align: center;
}

button{
    background-color: dimgray;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}